<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Other Chats Room</title>
</head>
<body>
  <div class="container2">
    <h5>Chats Log</h5>
    <textarea id="log" cols="100" rows="20"></textarea><br>
    <h5>Enter your chats here</h5>
    <input id="mssg" type="text" size="100" placeholder="Your message goes here..."><br><br>
    <input id="submit" type="button" value="Send">
  </div>
  {{ room_name|json_script:"roomname" }}
  <script>
    const roomName = JSON.parse(document.getElementById('roomname').textContent);
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    )
    chatSocket.onmessage = function(e){
        const data = JSON.parse(e.data);
        document.querySelector('#log').value += (data.message + '/n');
    };
    chatSocket.onmessage = function(e){
        console.error('Ooops! Chats closed.');
    };
    document.querySelector('#submit').onclick = function(e){
        const messageDom = document.querySelector('#mssg');
        const message = messageDom.value;
        chatSocket.send(JSON.stringify({
            'message': messeage
        }));
        message = '';
    };

  </script>
</body>
</html>