<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chats Room</title>
</head>
<body>
    <div class="container">
        <h3>What chat room would you like to enter?</h3><br>
        <input id="roomname" type="text" size="100"><br><br>
        <input id="submit" type="button" value="Enter">
    </div>

    <script>
        document.querySelector('#submit').onclick = function(e){
            var myRoom = document.querySelector('#roomname').value;
            window.location.pathname = '/chats/' + myRoom + '/';
            };
    </script>

</body>
</html>